@model List<Webbanhang.Models.Cartitem>
<div class="cart">
    <p>
        Chào bạn! <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count Sản phẩm
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>
</div>
